:root {
  --background: #ffffff;
  --background2: #0c0c0c;
  --background3: #cecece;

  --color: #ffffff;
  --color2: #656565;
  --color3: #da3c1f;
  --color4: #0c0c0c;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);

  scroll-behavior: smooth;
}

#btnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #333333;
  border: none;
  border-radius: 50vh;
  display: none;
  outline-style: none;
  cursor: pointer;
}

* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 100%;
}

header {
  position: sticky;
  top: 0;
  grid-area: header;
  max-width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header.animeScroll {
  background-color: var(--background);
}

header img {
  width: 200px;
}

header .menu-toggle {
  height: 40px;
  width: 40px;
  padding: 10px;
  cursor: pointer;
  display: none;
  transition-duration: 0.4s;
}

.one,
.two,
.three {
  background-color: var(--color4);
  height: 6px;
  width: 100%;
  margin: 6px auto;

  transition-duration: 0.3s;
}

.menu-toggle.on .one {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-toggle.on .two {
  opacity: 0;
}

.menu-toggle.on .three {
  transform: rotate(45deg) translate(-11px, -8px);
}

/** menu sistrel */
header ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  /* display: inline-block; */
  padding: 0 1em;
  position: relative;
  color: var(--color4);
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

nav ul li.item a {
  padding: 0.2rem;
  color: var(--color4);
  position: relative;
  text-decoration: none;
}

nav ul li.sub a {
  padding: 0.2rem;
  color: var(--color4);
  position: relative;
  text-decoration: none;
}

nav ul li.item a.sistrel-item:before,
nav ul li.sub a.sistrel-item:before,
nav ul li:after {
  position: absolute;
  transition: all 0.35s ease;
}

nav ul li.item a.sistrel-item:before,
nav ul li.sub a.sistrel-item:before {
  bottom: 0;
  display: block;
  height: 2px;
  opacity: 0;
  width: 0;
  content: "";
  background-color: #0c0c0c;
}

nav ul li.item a.sistrel-item:hover:before,
nav ul li.sub a.sistrel-item:hover:before,
nav ul li.active a.sistrel-item:before {
  opacity: 1;
  width: 100%;
}

header ul .sub-items {
  display: flex;
  flex-direction: column;
  background-color: var(--color4);
  position: absolute;
  min-width: 200px;
  margin: 1.4rem 0 0 -3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}

header ul .active {
  max-height: 100vh;
}

header ul .sub-items li {
  padding: 1rem;
  border-bottom: 1px solid var(--color2);
}

header ul .sub-items li:hover {
  background-color: var(--color3);
}

header ul .sub-items li a {
  color: var(--color);
}

main {
  grid-area: main;
  color: #444;
  padding: 3rem;
}

main p {
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: var(--color4);
  color: var(--color);
  min-height: 40px;
}

.disable {
  display: none;
}

.disable2 {
  visibility: hidden;
}

footer .footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  /* width: 100%; */
}

footer a {
  text-decoration: none;
  color: var(--color);
}

footer h5 {
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

footer hr {
  height: 2px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 32px;
  background: var(--color3);
}

footer .links {
  padding: 0.1rem 0 1rem 0;
}

footer .footer-wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

footer ul .links ul {
  display: flex;
  flex-direction: column;
}

footer ul .social_icons ul {
  /* width: 60px; */
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  justify-content: flex-start;
  padding-bottom: 2rem;
}

footer ul .social_icons li {
  background-color: var(--color2);
  padding: 1rem;
  margin-right: 1rem;
}

footer ul .links li {
  font-family: "Lato";
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  width: 100%;
}

footer .footer-copy {
  background-color: var(--color2);
  padding: 1rem 0;
  font-weight: 600;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1200px) {
  header {
    grid-area: header;
    height: 100%;
    max-width: 100%;
    padding: 0;
    /* background-color: chocolate; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  header .menu-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  header img {
    padding: 2rem;
    width: 180px;
  }

  header .menu-toggle {
    display: block;
    padding: 3rem 2rem;
  }

  header nav {
    width: 100%;

    transition: height 0.5s;
    overflow: hidden;
    height: 0;
  }

  header nav.active {
    width: 100%;

    transition: height 0.5s;
    /* overflow: hidden; */
    height: auto;
  }

  .options-menu {
    left: 0;
    top: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
  }

  header ul {
    all: initial;
    display: flex;
    flex-direction: column;
    background-color: var(--color4);
  }

  nav ul li {
    all: initial;
    font-weight: 600;
  }

  nav ul li.item {
    all: initial;
    padding: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  nav ul li.item:hover {
    /* background-color: var(--color3); */
    background-color: var(--color4);
  }

  nav ul li.sub {
    all: initial;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  nav ul li.sub:hover {
    /* background-color: var(--color3); */
    background-color: var(--color4);
  }

  nav ul li.item a {
    all: initial;
    color: var(--color);
    text-decoration: none;
  }

  nav ul li.sub a {
    padding: 0.2rem;
    color: var(--color);
    position: relative;
    text-decoration: none;
  }

  nav ul li.item a.sistrel-item:before,
  nav ul li:after {
    all: initial;
  }

  nav ul li.sub .menu-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
  }

  nav ul li.sub .menu-sub .accordion:after {
    content: "\21E3";
    font-weight: bold;
    color: var(--color);
  }

  nav ul li.sub .menu-sub .accordion.on:after {
    content: "\21E1";
    font-weight: bold;
    color: var(--color);
  }

  header ul .sub-items {
    all: initial;
  }

  nav ul li.sub ul.sub-items {
    display: flex;
    flex-direction: column;

    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;

    /* height: 0; */
  }

  nav ul li.sub ul.active {
    display: flex;
    flex-direction: column;

    /* transition: max-height 0.5s;
    overflow: hidden;
    max-height: 100vh; */

    transition: height 0.5s;
    overflow: hidden;
    max-height: 600px;
  }

  nav ul li.sub ul li {
    all: initial;
    padding: 25px;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color2);
  }
}

@media (max-width: 768px) {
  header img {
    padding: 2rem;
    width: 140px;
  }
}

@media (max-width: 660px) {
  footer .footer-wrapper ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  header img {
    padding: 2rem;
    width: 120px;
  }
}

@media (max-width: 432px) {
  footer .footer-copy {
    font-size: 12px;
  }
}

@media (max-width: 387px) {
  footer .footer-copy {
    font-size: 10px;
  }
}
